<h1><%= @user.username %> Following</h1>
<% unless @followings.empty? %>
  <% @followings.each do |following| %>
    <div><%= link_to following.username, user_path(following) %></div>
  <% end %>
<% else %>
  <h2>No Following</h2>
<% end %>