<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Twitter Clone, <%= @user.username %></h1>
    <p>Thanks for joining. This is just a toy app that i made for learning Ruby on Rails.
      I hope you like it.
    </p>
  </body>
</html>
