<% if flash[:error] || tweet.errors[:content].any? || tweet.errors[:tweet_pic].any? %>
  <div class="alert alert-primary">
    <% if flash[:error] %>
      <div><%= flash[:error] %></div>
    <% end %>
    <% if tweet.errors[:content].any? %>
      <% tweet.errors.full_messages_for(:content).each do |message| %>
        <div><%= message %></div>
      <% end %>
    <% end %>
    <% if tweet.errors[:tweet_pic].any? %>
      <% tweet.errors.full_messages_for(:tweet_pic).each do |message| %>
        <div><%= message %></div>
      <% end %>
    <% end %>
  </div>
<% end %>
