<div class="mb-3">
  <%= render  partial: "tweet_form", locals: {tweet: @tweet} %></div>
<div>
  <%= turbo_stream_from :tweets_stream %>
  <%= turbo_frame_tag(:tweets_container) do %>
    <%= turbo_frame_tag([:tweets, 1], src: page_path(last_tweet_id: @last_tweet_id)) do %>
      <div class="d-flex justify-content-center m-5">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
