<h1>Twitter</h1>
<%= render  partial: "tweet_form", locals: {tweet: @tweet} %>
<% @tweets.each do |tweet| %>
  <%= render  partial: "tweet", locals: {tweet: tweet, likes_count: @likes_count} %>
<% end %>