<h1>Tweet Likers</h1>
<% unless @tweet.likers.empty? %>
  <% @tweet.likers.each do |liker| %>
    <div><%= link_to liker.username, user_path(liker) %></div>
  <% end %>
<% else %>
  <h2>No Likes</h2>
<% end %>