<h1 class="mb-3"><%= @user.username %> Followers</h1>
<% unless @followers.empty? %>
  <% @followers.each do |follower| %>
    <%= render  partial: "users/user_card", locals: {user: follower} %>
  <% end %>
<% else %>
  <h2>No Followers</h2>
<% end %>